.cabecalho{
    background: rgb(190, 106, 235);
    text-align: center;
    font-family: Heattenschweiler; 'Arial Narrow Bold';
    font-size: large;
}

.corpo{
    background: rgb(190, 106, 235);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo2{
    background: rgb(190, 106, 235);
    text-align:center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo3{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo4{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo5{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo6{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo7{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo8{
    background: rgb(190, 106, 235);
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}