.cabecalho{
    background: #ff43a4;
    text-align: center;
    font-family: Heattenschweiler; 'Arial Narrow Bold';
    font-size: large;
}

.corpo{
    text-align:center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.corpo2{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.corpo3{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color:black
}
a:hover {
    color: white;
}

.corpo4{
    background: #ff43a4;
    text-align: center;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif,
}

.corpo5{
    background: #ff43a4;
    text-align: center;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body1{
    background: #ff43a4;
    text-align: center;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a:link {
    color: #ff43a4;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ff43a4;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #ff43a4;
    background-color: transparent;
    text-decoration: underline;
  }
